.joinPage{
    height: 100vh;
    width: 100vw;
    background-color:rgb(122, 122, 121);
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinContainer{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}
.chat h1{
    width: 600px;
    color: white;
    font-size: x-large;
    border-bottom: 2px solid wheat;
    text-align: center;
    padding-bottom: 10px;
}

.input input{
    height: 40px;
    width: 380px;
    margin-top: 40px;
    font-size: 25px;
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.btn button{
    height: 40px;
    width: 200px;
    background-color: rgb(240, 200, 54);
    font-size: larger;
    box-sizing: border-box;
    margin-top: 15px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
}
.btn button:hover{
    background-color: rgb(185, 150, 9);
}


/* ************** extra small devices ************* */

@media(max-width:600px){
    .joinPage{
       height: 1180px;
        width: 100vh;
    }
    
    .chat h1{
        font-size: 50px;
        padding-bottom: 35px;
    }
    
    .input input{
        height: 65px;
        font-size: 35px;
    }
    .btn button{
        height: 58px;
        width: 240px;
        font-size: 27px;
    }
    
}